.section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#square {
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0px;

  transform-origin: bottom right;
  transition: all 700ms;
}

#square:hover {
  transform-origin: bottom right;
  transform: rotate(90deg);
  transition: all 700ms;
}

/* #square {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
  }

  to {
    transform: rotate(90deg);
  }
} */
